
.card {
  box-shadow: 0px 0px 15px #555;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.item {
  position: relative;
  opacity: 1;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  opacity: 1;
}

thead tr {
  background: rgba(0, 0, 0, 0.4);
  height: 50px;
  color: #fff;
}

tbody tr {
  background: rgba(0, 0, 0, 0.1);
}

tbody td {
  font-size: 20px;
  height: 12%;
  color: #eee
}

tbody td:nth-child(6n+1) {
  background: rgba(131, 80, 80, .4);
  color: #f77;
}

thead td:nth-child(6n+1) {
  background: rgba(131, 18, 18, .4);
}

.today {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(124, 246, 255);
  box-shadow: 0 0 20px #fff;
  opacity: .5;
}

.pmonth,
.nmonth {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .2);
  color: #444;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#pick {
  width: 300%;
}

.sign {
  bottom: 10%;
  left: 0;
  right: 0;
}

.f1 {
  right: 80%;
  animation: f1 1.5s forwards;
}

.f2 {
  left: 75%;
  animation: f2 1.5s .2s forwards;
}

.f3 {
  right: 30%;
  animation: f3 1.5s .4s forwards;
}

.f4 {
  left: 20%;
  animation: f4 1.5s .3s forwards;
}

.f5 {
  right: 50%;
  animation: f5 1.5s .5s forwards;
}

.f1,
.f2,
.f3,
.f4,
.f5 {
  bottom: -100%;
  width: 10%;
}

@media screen and (min-width: 1500px) {
  .btn1 a{
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
  }
  table {
    height: 80vh;
  }

  .alert {
    display: none;
    top: 3%;
    right: 0%;
    opacity: .9;
    z-index: 10;
  }

  .btn2 {
    display: none;
  }

  .carousel-control-prev {
    left: -5%;
    width: 5%;
    flex-direction: column;
  }

  .carousel-control-next {
    right: -5%;
    width: 5%;
    flex-direction: column;
  }

  .btn2-p {
    left: -8%;
    width: 3%;
  }

  .btn2-n {
    right: -8%;
    width: 3%;
  }
}

@media screen and (max-width: 1500px) and (min-width: 768px) {
  .btn1 a{
    text-decoration: none;
  }
  .sign {
    font-size: 1rem;
  }

  table {
    height: 75vh;
  }

  .alert {
    display: none;
    top: 3%;
    right: 0%;
    opacity: .9;
    z-index: 10;
  }

  .btn2 {
    display: none;
  }

  .card-body {
    position: relative;
    padding: 0 0 3.5rem;
  }

  .carousel-control-prev {
    left: 20%;
    width: 5%;
    top: 95%;
    height: 5%;
  }

  .carousel-control-next {
    right: 20%;
    width: 5%;
    top: 95%;
    height: 5%;
  }

  .d1 {
    margin-left: .5rem;
    margin-bottom: .5rem;
  }

  .d2 {
    margin-right: .5rem;
    margin-bottom: .5rem;
    order: -1;
  }

  .btn2-p {
    left: 5%;
    width: 3%;
  }

  .btn2-n {
    right: 5%;
    width: 3%;
  }
}

@media screen and (max-width: 768px) {
  .sign {
    font-size: .5rem;
    bottom: 0%;
    left: 0;
    right: 0;
  }

  .alert {
    display: none;
    top: 3%;
    right: 0%;
    opacity: .9;
    z-index: 10;
  }

  table {
    height: 45vh;
  }

  .btn1 {
    display: none;
  }

  .card-body {
    position: relative;
    padding: 0;
  }

  .carousel-control-prev {
    left: 15%;
    width: 5%;
    justify-content: center;
  }

  .carousel-control-next {
    right: 15%;
    width: 5%;
    justify-content: center;
  }

  .btn2-p {
    left: 5%;
    width: 3%;
  }

  .btn2-n {
    right: 5%;
    width: 3%;
  }
}

@media screen and (max-height: 700px) {

  .d1,
  .d2 {
    display: none;
  }

  .carousel-control-prev {
    width: 5%;
    bottom: 1%;
    justify-content: flex-end;
  }

  .carousel-control-next {
    width: 5%;
    bottom: 1%;
    justify-content: flex-end;
  }
}